{% extends 'base.html' %}

{% block content %}
<br>
    <h3> {{book.title}}</h3>
    <hr>
    <figure class="image is-4by3 mb-6">
            <img src="{{ book.cover.url }}">
        </figure>

    <h1 class="title">{{ book.title }}, {{ book.author }}</h1>    

    {% if book_issued and user.is_authenticated %}
    <span> You have issued this book. Time left {{time_left}} <span>
    <br>
    <a href = "{% url 'return_book' pk=issue_details.pk %}" class = 'button is-dark is-uppercase'>Return</a>
    <a href = "{% url 'renew_book' pk=book.pk %}" class = 'button is-dark is-uppercase'>Renew</a>
    <form method = 'POST'>
    {% csrf_token %}
    {{form.as_p}}
    <input type = "submit" name = "submit" value = "Submit" class = "btn btn-info">
    </form>
    {% elif user.is_authenticated %}
    <a href = "{% url 'issue_book' pk=book.id %}" class = "button is-dark is-uppercase">Issue</a>
    <hr>
    <form method = 'POST'>
    {% csrf_token %}
    {{form.as_p}}
    <div class = "control">
             <button class = "button is-dark is-uppercase">Submit</button>
          </div>
    </form>
    <br>
    {% else %}
    <div class = "control">
             <a href = "{% url 'student_login' %}"><button class = "button is-dark is-uppercase">Login</button></a>
          </div>
    <br>
    {% endif %}

    {% if is_staff %}
        <a href = "{% url 'update_book' pk=book.pk %}"><button class = "button is-dark is-uppercase">Update Book</button></a>
    {% endif %}

    <hr>
    <hr>

    <h1 class = "title">Reviews:</h1>
    {% for review in reviews %}
    <p class="mb-6"><span class="tag is-dark">{{ review.title }}</span></p>
    <p>{{review.description}}</p>
    <hr>
        
    {% endfor %}
    
    
{% endblock content %}