{% extends 'base.html' %}

{% block content %}
    <div class="columns is-multiline mb-6">
        <div class="column is-12 has-text-centered mt-6 mb-6">
            <h2 class="is-size-3">{{genre.genre }}</h2>
        </div>

        {% for book in genre.books.all %}
            <div class="column is-3 product-list-item">
                <div class="box">
                    <figure class="image is-4by3 mb-4">
                        <img src="{{ book.cover.url }}" width = "300px" height="500px">
                    </figure>

                    <h2 class="subtitle">{{ book.title }}</h2>


                    <hr>

                    <a href="{% url 'book_details' pk=book.pk %}" class="button is-dark is-uppercase">View</a>
                </div>
            </div>
        
        {% endfor %}
    </div>
{% endblock %}