{% extends 'base.html' %}
  
  {% block content %}
    <h3>Login</h3>

     {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} 

    <form method = "POST" action = "">
        <label for = "email">Email:</label>
        <input type = "email" name = "email" placeholder="Email" required class = "form-control">
        <br>
        <label for = "password">Password:</label>
        <input type = "password" name = "password" placeholder = "Password" required class = "form-control">
        {% csrf_token %}
        <br>
        <input type = "submit" name = "submit" value = "Login">
    </form>

    <br>
     <a href = "https://libraria420.herokuapp.com/accounts/login"><button class = "button is-dark is-uppercase">Login with Google</button></a>


    {% endblock content %}