{% extends 'base.html' %}

{% block content %}
<br>
<a href = "{% url 'staff_reg' %}" class="btn btn-outline-dark">Add a Staff account</a>
    {% for user in users %}
        <div class="column is-3 product-list-item">
                <div class="box">
                    

                    <h2 class="subtitle">{{ user.username }}</h2>
                    <h2 class="subtitle">{{ user.email }}</h2>


                    <hr>

                    <a href="{% url 'delete_user' pk=user.pk %}" class="button is-dark is-uppercase">Delete</a>
                </div>
            </div>
    {% endfor %}
{% endblock content %}